.reception {
  padding-top: 183px;
  padding-bottom: 95px;
  background-image: url("../img/bg-reception.png");
  background-repeat: no-repeat;
  background-color: #e9f0f5;
  background-position: -285px 0;

  @media(min-width: 1400px) {
    background-position: 100% 0;
  }
}
