.section {
  padding-top: 85px;
  padding-bottom: 85px;
}

.section__header {
  margin-bottom: 100px;

  &--center {
    text-align: center;
  }
}

.section__row {
  @include make-row();

  &--jc-sb {
    justify-content: space-between;
  }
}

.section__col {
  @include make-col-ready();
  max-width: 560px;
}
