.section {
  padding-top: 30px;
  padding-bottom: 30px;

  @media(min-width: $screen-md) {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}

.section__header {
  margin-bottom: 45px;

  @media(min-width: $screen-md) {
    margin-bottom: 98px;
  }

  &--center {
    text-align: center;
  }
}

.section__row {
  @include make-row();

  @media(min-width: $screen-md) {
    flex-direction: row;
  }

  &--jc-sb {
    justify-content: space-between;
  }
}

.section__col {
  @include make-col-ready();
  max-width: 560px;
}

.section__label-ident {
  margin-bottom: 14px;
}
