.page-footer {
  padding: 10px 0;
  background: #2c3034;

  @media(min-width: $screen-md) {
    padding: 21px 0;
  }
}

.page-footer__info {
  display: flex;
  align-content: center;
  margin-top: 5px;
}

.page-footer__logo {
  display: none;

  @media(min-width: $screen-xl) {
    display: block;
  }
}

.page-footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__link {
  font-size: 10px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: underline;
  color: #cac5c5;

  @media(min-width: $screen-md) {
    font-size: 12px;
    margin-left: 37px;
  }
}

.page-footer__develop {
  max-width: 81px;

  @media(min-width: $screen-md) {
    max-width: inherit;
  }
}
