* {
  box-sizing: border-box;
}

body {
  font: 300 12px $font-1;
  line-height: 18px;
  color: $text-color;

  @media(min-width: $screen-md) {
    font-size: 14px;
    line-height: 20px;
  }

  @media(min-width: $screen-xl) {
    font-size: 16px;
    line-height: 23px;
  }
}

a {
  cursor: pointer;
  transition: $time;

  &:hover {
    text-decoration: none;
  }
}

button {
  transition: $time;
  cursor: pointer;
}

img {
  max-width: 100%;
}
