.excellence {
  @include ul-none();
  @include make-row();
  max-width: 600px;
  margin-bottom: 29px;

  @media(min-width: $screen-md) {
    max-width: inherit;
  }

  @media(min-width: $screen-xl) {
    max-width: 600px;
    margin-bottom: 9px;
  }
}

.excellence__item {
  @include make-col-ready();
  margin-bottom: 43px;

  @media(min-width: $screen-md) {
    @include make-col(6);
    margin-bottom: 63px;
  }

  @media(min-width: $screen-xl) {
    margin-bottom: 53px;
  }
}

.excellence__wrap {
  position: relative;
  padding-left: 32px;

  @media(min-width: $screen-md) {
    padding-left: 35px;
  }
}

.excellence__circle {
  position: absolute;
  top: 0;
  left: 7px;
  display: block;
  width: 2px;
  height: calc(100% - 15px);
  margin-top: 15px;
  background-color: #36a3c6;

  &::after {
    content: "";
    position: absolute;
    bottom: -13px;
    right: -3px;
    width: 8px;
    height: 8px;
    background-color: #36a3c6;
    border-radius: 50%
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    right: -8px;
    width: 18px;
    height: 18px;
    border: 5px solid #36a3c6;
    border-radius: 50px;
  }

  @media(min-width: $screen-md) {
    left: 5px;
  }
}

.excellence__text {
  font-size: 12px;
  line-height: 16px;
  color: #666;

  strong {
    color: #333;
    font-weight: 500;
  }

  @media(min-width: $screen-md) {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
