.toggle {
  position: relative;
  flex-shrink: 0;
  font-size: 0;
  width: 24px;
  height: 12px;
  transition: $time;
  background: transparent;
  border: none;
  outline: none;
  z-index: 999;
  padding: 0;
  cursor: pointer;
  margin-left: 15px;

  span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    transition: $time;
    background-color: #45b4d8;
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    transition: $time;
    background-color: #45b4d8;
  }

  &::before {
    top: 0%;
  }

  &::after {
    width: 70%;
    bottom: 0%;
  }

  @media(min-width: $screen-md) {
    margin-left: 25px;
  }

  @media(min-width: $screen-xl) {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.toggle--active {

  span {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    width: 0;
  }

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
