.contact {
  padding-top: 40px;
  padding-bottom: 30px;
  background: url("../img/bg-contact.jpg") no-repeat center / cover;

  @media(min-width: $screen-md) {
    padding-top: 73px;
    padding-bottom: 58px;
  }
}

.contact__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 22px;
  text-align: center;

  @media(min-width: $screen-md) {
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 35px;
  }
}

.contact__list {
  @include ul-none();
  margin-top: 30px;

  @media(min-width: $screen-md) {
    margin-top: 0;
  }
}

.contact__item {
  margin-bottom: 40px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media(min-width: $screen-md) {
    padding-left: 28px;
    margin-bottom: 22px;
    text-align: left;
  }
}

.contact__name-address {
  display: block;
  font-size: 8px;
  font-weight: 400;
  color: #919191;
  margin-bottom: -4px;

  @media(min-width: $screen-md) {
    font-size: 12px;
    margin-bottom: 6px;
  }
}

.contact__address {
  position: relative;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  color: #333333;

  @media(min-width: $screen-md) {
    padding-left: 28px;
    margin-left: -28px;
    font-size: 16px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;

    @media(min-width: $screen-md) {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 17px;
      height: 15px;
      padding-left: 28px;
      margin-left: -28px;
      font-size: 16px;
    }
  }

  &--point::after {
    background-image: url("../img/point.png");
    height: 14px;

    @media(min-width: $screen-md) {
      height: 20px;
    }
  }

  &--calendar::after {
    background-image: url("../img/calendar.png");
  }

  &--point::after {
    background-image: url("../img/point.png");
  }

  &--mail::after {
    background-image: url("../img/mail.png");
  }

  &--phone::after {
    background-image: url("../img/call-answer.png");
  }
}

.contact__desk {
  display: block;
  max-width: 400px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #666666;
  margin: 8px 0 0;

  @media(min-width: $screen-md) {
    font-size: 14px;
    line-height: 20px;
    margin: 14px 0 0;
  }
}

.contact__ident {
  margin-bottom: 32px;

  @media(min-width: $screen-md) {
    margin-bottom: 0;
  }
}
