.main-block {
  max-width: 550px;
}

.main-block__title {
  font-size: 38px;
  line-height: 49px;
  margin-bottom: 20px;
}

.main-block__text {
  line-height: 25px;
  color: #666666;
  margin-bottom: 38px;
}

.main-block__form {
  margin-bottom: 64px;
}
