.main-block {
  max-width: 550px;
  text-align: center;

  @media(min-width: $screen-md) {
    text-align: left;
  }
}

.main-block__title {
  margin-bottom: 15px;

  @media(min-width: $screen-md) {
    margin-bottom: 20px;
  }
}

.main-block__text {
  line-height: 18px;
  color: #666666;
  margin-bottom: 19px;

  @media(min-width: $screen-md) {
    line-height: 25px;
    margin-bottom: 38px;
  }
}

.main-block__form {
  max-width: 266px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: $screen-md) {
    max-width: inherit;
    margin: 0 0 64px;
  }
}
