.page-header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 35px;

  @media(min-width: $screen-md) {
    padding-top: 30px;
    margin-bottom: 87px;
  }
}

.page-header__right {
  display: flex;
  align-items: center;
}

.page-header__logo {
  max-width: 102px;

  @media(min-width: $screen-md) {
    max-width: inherit;
  }
}
