mixin page-header()
  .page-header
    a.logo.page-header__logo
      img(src="img/logo.png", alt="Современный медицинский центр на м. Курская")
    .page-header__right
      nav.navigation
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href="#about") О клинике
          li.navigation__item
            a.navigation__link(href="#medknizhki") Услуги и цены
          li.navigation__item
            a.navigation__link(href="#kontakt") Как добраться
      a.callback(data-toggle="modal" data-target="#modal")
        span.callback__phone +7 (499) 288-81-19
        p.callback__text Заказать обратный звонок
      button.toggle(aria-label="открытие меню")
        span.toggle__span
