extends pug/layout.pug

block meta
  title Главная
block header
  .fullpage
    .container
      +page-header()
      .main-block
        h1.main-block__title Современный #[span медицинский центр] на м. Курская
        p.main-block__text Выдача медицинских справок, оформление медицинских книжек, проведение психиатрического освидетельствования. Амбулаторный прием врачей. УЗИ. Медицинские анализы.
        form.form
          .form__row
            label.field-text
              input.field-text__input(type="tel")
            button.btn.btn--main Записаться без очереди
          label.form-checkbox
            input(type="checkbox" required checked)
            span.form-checkbox__check(aria-label="Согласие на обработку данных")
            span.form-checkbox__text Я даю свое согласие на обработку персональных данных

block content
  main
    .section.about
      .container
        h2.title Клиника на Курской
        p.tagline Специализированный медицинский центр
        ul.excellence
          li.excellence__item
            span.excellence__circle
            p.excellence__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, eveniet.
          li.excellence__item
            span.excellence__circle
            p.excellence__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, dignissimos.
          li.excellence__item
            span.excellence__circle
            p.excellence__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, corrupti.
          li.excellence__item
            span.excellence__circle
            p.excellence__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, a.
        ol.advantages
          li.advantages__item
            strong.advantages__title На протяжении уже более 10 лет
            p.advantages__text Оказываем медицнские услуги
          li.advantages__item
            strong.advantages__title На протяжении уже более 10 лет
            p.advantages__text Оказываем медицнские услуги
          li.advantages__item
            strong.advantages__title На протяжении уже более 10 лет
            p.advantages__text Оказываем медицнские услуги
          li.advantages__item
            strong.advantages__title На протяжении уже более 10 лет
            p.advantages__text Оказываем медицнские услуги
    .section.services
      .container
        section.section__center
          h2.title Наши услуги
          p.tagline Ознакомьтесь со списком услуг, которые мы предоставляем
        .review
          .review__row
            section.review__col
              h3.review__title Выдача медицинских справок
              p.review__text Медицинские справки требуются почти при любой жизненной ситуации. Каждый из нас устраивался на новую работу, поступал в учебное заведение, пропускал занятия, из за болезни не ходил на работу, сдавал анализы для бассейна.
              form.form
                .form__row
                  label.field-text
                    input.field-text__input(type="tel")
                  button.btn.btn--main Записаться без очереди
                label.form-checkbox
                  input(type="checkbox" required checked)
                  span.form-checkbox__check(aria-label="Согласие на обработку данных")
                  span.form-checkbox__text Я даю свое согласие на обработку персональных данных
            .review__col
        .price-list
          a(data-toggle="collapse" href="#collaps-1" role="button") Стоимость оформления медицинских справок
          .collapse  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sunt rerum soluta et unde aliquam modi ducimus laboriosam tenetur deserunt, ratione nobis animi saepe fuga similique rem, quam itaque aspernatur.
    .section.licenses
      .container
        section.section__center
          h2.title Имеем #[span допуски и лицензии] на все необходимые медицинские работы
        .licenses__slider
          .licenses__item
          .licenses__item
          .licenses__item
          .licenses__item
    .section.contacts
      .container
        .section__row
          .section__col
            h2.contact__title Lorem ipsum dolor sit.

          .section__col
            h2.contact__title Lorem ipsum dolor sit.
            form.form
              .form__row
                .form__col
                  label.field-text
                    input.field-text__input(type="text" placeholder="Ваше имя")
                .form__col
                  label.field-text
                    input.field-text__input(type="tel")
              label.field-text
                textarea.field-text__input.field-text__input--message(placeholder="Опишите условия заказа")
              .form__row
                .form__col
                  button.btn.btn--main Записаться без очереди
                .form__col
                  label.form-checkbox
                    input(type="checkbox" required checked)
                    span.form-checkbox__check(aria-label="Согласие на обработку данных")
                    span.form-checkbox__text Я даю свое согласие на обработку персональных данных
block footer
  +page-footer()
