.fullpage {
  overflow: hidden;
  padding-bottom: 32px;
  background: url("../img/bg-header.png") no-repeat center / cover;

  @media(min-width: $screen-md) {
    padding-bottom: 5px;
  }

  @media(min-width: $screen-xl) {
    padding-bottom: 17px;
    // min-height: 100vh;
  }
}
